#fun{
    color:aquamarine
 }
 body {
    background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg&ga=GA1.1.632798143.1705708800&semt=sph');
    background-repeat: round;
}

h1 {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    margin: 0;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #3498db;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: #fff;
}