ol{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding:20px;
    font-size: 20px;
    list-style-type:none;
    color:white;
    font-style:italic;
    margin:0;
    font-family: 'Times New Roman', Times, serif;
}