ol{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 132, 0);
    padding:20px;
    font-size: 20px;
    list-style-type:none;
    color:white;
    font-style:italic;
    margin:0;
    font-family: 'Times New Roman', Times, serif;
}

link{
   color:white;
}

h2{
    text-align: left;
}